extends layout.jade

block extra-scripts
  script(src="/scripts/home.a97998b3.js")
block page-content
  h2 #{thing}
  if something
    form#tenthings
      ul
        li.c-thing(data-id="1")
          label
            span #1
            input.c-thing__input(name="thing1" type="text" placeholder="First things first" autofocus)
      input.c-thing__submit(type="submit" value="Finished")

