@import config

body
  font-family: font-serif
  color: color-text
  text-align: center
  font-size: 18px
  margin 0

main
  max-width: 600px
  padding: 1em
  margin: 0 auto

ul
  list-style: none
  padding-left: 0

label
  cursor: pointer

input
  font-family: font-serif
  transition: border-bottom 0.2s ease-in-out

  &:focus,
  &:hover
    outline: 0
    border-bottom-color: color-brand-main

.c-thing
  label
    display flex
    align-items center
    margin-bottom 0.5em

  span
    flex 0

.c-thing__input
  font-size: inherit
  padding: 1em
  margin-left: 1em
  border-width: 0 0 1px 0

  &[type="text"]
    padding: 0.25em 0.5em 0.25em 0

.c-thing__submit
  display: none
  font-size: inherit
  padding: 0 0.25em
  margin-top: 3em
  background-color: transparent
  border: 0
  border-bottom: 1px solid color-border
  cursor: pointer

@keyframes showLabel
  0%
    left: 2em
  100%
    left: 0

.c-thing__label
  position: relative
  left: 2.5em
  z-index: -1
  animation: showLabel 0.5s cubic-bezier(0.51, -0.07, 0.14, 1.58)
  animation-fill-mode: forwards
